
/* -------- ロード画面 -------- */

#loading-window{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loading-window-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

/* -------- メッセージ表示 -------- */

/* メッセージエリア */
#message-window{
    width: 100vw;
    height: 90vh;
    display: none;
}

/* メッセージのdivを入れている箱 */
#message-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* エラーメインメッセージのdiv */
#error-main-message{
    margin-top: 80%;
    font-weight: bold;
}

/* エラーオプションメッセージのdiv */
#error-option-message{
    margin-top: 5%;
}

/* エラー表示のときに戻るボタン */
#error-action-button{
    margin-top: 5%;
}


/* -------- パノラマ関係 -------- */

/* パノラマ空間 */
#panorama-world{
    touch-action: none;
}


/* -------- アノテーションボタン -------- */

/* アノテーション追加画面への移動ボタン */
#add-annotation-button{
    position: absolute;
    /* top: 0%; */
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    font-size: 80px;
    box-shadow: 0px 3px 3px 2px #6f6f6f66;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

/* ボタンの十字線のパーツ */
.add-annotation-mark-parts{
    width: 40px;
    height: 5px;
    background-color: black;
    position: absolute;
}

/* 縦線パーツ */
.mark-ver{
    transform: rotateZ(90deg);
}

/* 横線パーツ */
.mark-hor{
    transform: rotateZ(0deg);
}
