.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# パノラマ関係のディレクトリ
panorama_imgs/*
annotation_imgs/*
annotation_imgs_temp/*
candidate_imgs/*

# ログディレクトリ
logs/*

# 画像処理の実行ファイル
image_process

# コアダンプファイル
core.*

# マッチングデータのJSONファイルを保存するディレクトリ
match_result_json/*
output_img/*
output_file/*
selective_search_cpp/*
clip_sample_python/*
w2v_models/*

# パノラマとキューブマップの座標変換データのファイル
pos_map.csv

# 実験用のプログラムを格納しているディレクトリ
experiment/*

# 不要になったファイル
old/*
