.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# パノラマ関係のディレクトリ
panorama_imgs/*
annotation_imgs/*
candidate_imgs/*

# ログディレクトリ
logs/*

# 画像処理の実行ファイル
image_process

# コアダンプファイル
core.*

# マッチングデータのJSONファイルを保存するディレクトリ
match_result_json/*
output_img/*
output_file/*
